body{
    background-color: 	#f4f6f5;
}

.mydiv{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 70% 30%;
}
.already{
    justify-self: end;
}
input{
    outline: none;
    border: none;
}
.outerDiv{
    display:grid;
    grid-template-columns: 2fr 2fr;
    margin : 5% 10%;
    padding : 0% 10% 0%;
}
.innerDiv1{
    background-color: aliceblue;
    grid-row: 1fr;
    display:grid;
    grid-row-gap: 0cap;
    justify-items: center;
    height:350px;
    overflow: auto;
    height:280px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.innerDiv2{
    background-color: aliceblue;
    height:300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:grid;
}
#leftSide{
    display:grid;
    grid-template-columns: 15% 10% 30% 20%;
}
#jobSearchName,#jobSearch{
    align-self:center;
}

@media (min-width: 600px) {
    .mydiv {
        grid-template-columns: 70% 30%; /* Two columns for larger screens */
    }
    .outerDiv {
        grid-template-columns: 2fr 2fr; /* Two columns */
    }
}


input {
    border: 1px solid transparent; /* Default border */
    transition: border 0.3s; /* Smooth transition */
}
.innerDiv2 > div{
    padding: 0px 20px;
}
#userName{
    padding-top: 15px;

}
.userbox{
    padding:  15px 0px;
    
}
input[type="text"]{ padding: 10px 5px; line-height: 15px; }
input[type="password"]{ padding: 10px 5px; line-height: 15px; }

